<nav class="navbar">
  <b><%= link_to 'E PLANTS', root_path, class: "navbar-brand" %></b>
  <button class="" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class=""></span>
  </button>
  <div class="navbar" id="navbarText">
    <ul class="navbar">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'SHOP', products_path, class: "nav-link" %>
      </li>
      <% if current_user %>
      <li class="nav-item">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to 'LOGIN', new_user_session_path, method: :get, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign UP', new_user_registration_path, method: :get, class: "nav-link" %>
      </li>
      <%end%>
    </ul>

    <span class="navbar-text">
      <p>Shop Plants</p>
    </span>
  </div>
</nav>
